*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.functionBasedCompo{
    border: 2px solid red;
    padding: 50px;
    margin: 50px;
}

.ClassBasedCompo{
    border: 2px solid blue;
    padding: 50px;
    margin: 50px;
}

.UseEffects{
    border: 2px solid rgb(21, 255, 0);
    padding: 50px;
    margin: 50px;
}

.UseMemo{
    border: 2px solid rgb(89, 0, 255);
    padding: 50px;
    margin: 50px;
}