*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.functionBasedCompo{
    border: 2px solid red;
    padding: 50px;
    margin: 50px;
}

.ClassBasedCompo{
    border: 2px solid blue;
    padding: 50px;
    margin: 50px;
}